        article {
        background-color: #00264D;
        font-family: 'Segoe UI', sans-serif;
        padding: 30px;
        top: 10%;
        align-items: center;

        }

        .textodos{        
        font-size: 20px;
        font-family: 'Segoe UI', sans-serif;
        color: white;
      
        }


        .texto{
        font-size: 40px;
        font-family: 'Segoe UI', sans-serif;
        color: white;
        }




        header {
            display: flex;
            justify-content: space-between; 
            align-items: center;        
            padding: 10px 20px;
        }
        
        .logo-container {
            display: flex;          
            align-items: center;   
            font-family: 'Segoe UI', sans-serif;
        }
        
        .logo-container img {
            width: auto;          
            height: 50px;         
            margin-right: 30px;   
            
        }
        
        .logo-text {
            font-weight: bold;
            font-size: 24px;     
            color:#00264D; 
        }
         
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 15px;
            font-family: 'Segoe UI', sans-serif;
        }
        
        nav a {
            padding: 12px 18px;
            border-radius: 8px;
            text-decoration: none;
            color: #333;
            font-weight: 500;
            background-color: #ffffff;;
            transition: filter 0.3s, color 0.3s;
        }
        
        nav a:hover {
            filter: brightness(85%);
            color: #000;
        }





    .card-container {
      display: flex;
      gap: 40px; /* Espacio entre tarjetas */
      flex-wrap: wrap; /* Para que en pantallas pequeñas se acomoden verticalmente */
      justify-content: center; /* Centra horizontalmente */
      margin: 80px;
      color: #000000;
    }

    .card {
      width: 400px;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      background-color: #fff;
      font-family: 'Segoe UI', sans-serif;

    }

    .card-image {
      position: relative;
    }

    .card-image img {
      width: 100%;
      height: auto;
      display: block;
    }

    .card-title {
      position: absolute;
      bottom: 10px;
      left: 15px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
    }

    .card-content {
      padding: 15px;
      font-size: 14px;
      color: #000000;
      font-family: 'Segoe UI', sans-serif;
    }


     .card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
  }
  .card:hover {
    transform: scale(1.1);
  }